# App
SERVER_PORT=8080

# Placeholder external services
ASSETMIND_DB_URL=jdbc:mysql://localhost:3306/assetmind
ASSETMIND_DB_USERNAME=root
ASSETMIND_DB_PASSWORD=Postgres1
ASSETMIND_REDIS_HOST=localhost
ASSETMIND_REDIS_PORT=6379
ASSETMIND_S3_BUCKET=assetmind-dev
ASSETMIND_OPENAI_API_KEY=replace-me

